# Joining Files and Reducing Data to under 1 GB

In [2]:
import pandas as pd

Read in New York listings, LA listings, and airbnb reviews.

In [3]:
ny_listings = pd.read_csv('NY_Listings.csv', encoding = 'latin-1')

/Users/adelhassen/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7,19,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
la_listings = pd.read_csv('LA_Listings.csv', encoding = 'latin-1')

/Users/adelhassen/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7,12,19,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
airbnb_reviews = pd.read_csv('airbnb-reviews.csv', sep = ';')

Remove unnecessary columns

In [6]:
ny_listings = ny_listings.drop(columns = ['Street', 'latitude', 'longitude', 'Minimum nights','Maximum nights', 'Availability 365', 'Calendar last scraped', 'Last Review Date'])

In [7]:
la_listings = la_listings.drop(columns = ['Street', 'latitude', 'longitude', 'Minimum nights','Maximum nights', 'Availability 365', 'Calendar last scraped', 'Last Review Date'])

Inspeact the size of each dataframe

In [31]:
ny_listings.shape

(75749, 26)

In [16]:
la_listings.shape

(59865, 26)

In [28]:
airbnb_reviews.shape

(8348173, 6)

Change column name to 'listing_id'. This will make merging with airbnb_reviews easier.

In [8]:
ny_listings = ny_listings.rename(columns = {'Listing ID':'listing_id'})

In [9]:
la_listings = la_listings.rename(columns = {'Listing ID':'listing_id'})

In [76]:
airbnb_reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,488835,104522929,2016-09-27,66003975,Carole,First time using Airbnb and couldn't be happie...
1,549036,37751194,2015-07-10,33501858,Gabi,Muy bien ubicado. Las fotos y la descrpción co...
2,13546118,112010466,2016-11-03,27252960,Alexis,L'appartement est très sympa.\r\nLa chambre qu...
3,549036,45480519,2015-09-03,38589960,Ewelina,I had really good time in Alex apartment and I...
4,13546118,137928884,2017-03-18,111268477,Donovan,Place is pretty nice and Sergio was a big help...
5,549036,78711836,2016-06-08,25834,Armen,We enjoyed our trip to Barcelona and partially...
6,2643611,84818807,2016-07-09,72772795,Rebecca,Patrica was the perfect host. She meet us at t...
7,549036,82818700,2016-06-29,3838994,Jouni,Very comfortable room in a clean apartment and...
8,2643611,95293023,2016-08-19,83384637,Bryce,Such a lovely apartment and wonderful experien...
9,2263681,15764389,2014-07-15,10558742,Björn,Manuel is a really great host and the apt is a...
10,2643611,111071972,2016-10-30,26017119,Sourma,Great flat in a lovely location.\r\nHosts were...
11,2263681,35386656,2015-06-18,25507001,Anne,Manuel could not have been more thorough. He i...
12,2643611,116966833,2016-12-04,104932643,Mohammed,Amazing apartment and great host. Location is ...
13,2263681,35633087,2015-06-21,25736340,Shamus,Manuel is a true gent. Very hospitable (and ca...
14,2643611,122701828,2016-12-25,104932643,Mohammed,Jose is the best host ever

In [47]:
len(airbnb_reviews.listing_id.unique())

375129

In [29]:
#Some reviews didn't add a comment. We can get rid of that in Databricks
airbnb_reviews.isnull().sum(axis=0)

listing_id          0
id                  0
date                0
reviewer_id         0
reviewer_name       5
comments         9158
dtype: int64

Merge New York listings with reviews

In [10]:
ny = pd.merge(ny_listings, airbnb_reviews, on = "listing_id")

In [11]:
ny.shape

(561531, 32)

In [55]:
ny

,listing_id,Name,Host ID,Host Response Rate,Host Is Superhost,Host total listings count,City,Neighbourhood cleansed,State,Country,...,Review Scores Checkin,Review Scores Communication,Review Scores Location,Review Scores Value,Reviews per month,id,date,reviewer_id,reviewer_name,comments
0,2515,Sunny Private Room,16286162,1.0,False,4.0,Bronx,Allerton,NY,United States,...,10,10,9,10,1.77,1107,2009-03-27,9193,Holly,Stephanie's offered all the most important thi...
1,2515,Sunny Private Room,16286162,1.0,False,4.0,Bronx,Allerton,NY,United States,...,10,10,9,10,1.77,7350,2009-08-13,26718,Greg,awesome couldn't have been better.
2,2515,Sunny Private Room,16286162,1.0,False,4.0,Bronx,Allerton,NY,United States,...,10,10,9,10,1.77,95059,2010-09-12,68468,Olivier And Ingrid,Nous avons passé un agréable séjour chez Stéph...
3,2515,Sunny Private Room,16286162,1.0,False,4.0,Bronx,Allerton,NY,United States,...,10,10,9,10,1.77,137500,2010-11-12,185050,Gerry,We stayed at the 111th Street apartment with S...
4,2515,Sunny Private Room,16286162,1.0,False,4.0,Bronx,Allerton,NY,United States,...,10,10,9,10,1.77,235192,2011-04-22,456184,Nicola,Very conveniently located just North of Centra...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561526,14332446,Fold out couch for one person in prime Brooklyn,31378,NaN,False,3.0,Brooklyn,Crown Heights,NY,United States,...,0,0,0,0,1.66,92037029,2016-08-07,25204268,Matthew,Kristine was an amazing and friendly host. Sh...
561527,14332446,Fold out couch for one person in prime Brooklyn,31378,NaN,False,3.0,Brooklyn,Crown Heights,NY,United States,...,0,0,0,0,1.66,106855895,2016-10-08,69623336,Haley,Kristine made me feel warm and very welcome in...
561528,14332446,Fold out couch for one person in prime Brooklyn,31378,NaN,False,3.0,Brooklyn,Crown Heights,NY,United States,...,0,0,0,0,1.66,104177944,2016-09-25,53639002,Aaron,Kristine was well prepared and extremely consi...
561529,14332446,Fold out couch for one person in prime Brooklyn,31378,NaN,False,3.0,Brooklyn,Crown Heights,NY,United States,...,0,0,0,0,1.66,113675781,2016-11-13,18763884,Aerin,Kristine was a friendly and accommodating host...
561530,14332446,Fold out couch for one person in prime Brooklyn,31378,NaN,False,3.0,Brooklyn,Crown Heights,NY,United States,...,0,0,0,0,1.66,101377582,2016-09-13,43459024,Jenifer,Booking my stay at Kristine was honestly the b...

Merge LA listings with reviews

In [12]:
la = pd.merge(la_listings, airbnb_reviews, on = "listing_id")

In [13]:
la.shape

(653127, 32)

In [45]:
la

,listing_id,Name,Host ID,Host Response Rate,Host Is Superhost,Host total listings count,City,Neighbourhood cleansed,State,Country,...,Review Scores Checkin,Review Scores Communication,Review Scores Location,Review Scores Value,Reviews per month,id,date,reviewer_id,reviewer_name,comments
0,3230382,Large master bedroom & covered patio; __________,15878447,1.0,True,9.0,Los Angeles,Monterey Park,CA,United States,...,9,10,10,9,1.11,26891530,2015-02-21,22349409,J O Hn,Great experience here. Betty is super nice and...
1,3230382,Large master bedroom & covered patio; __________,15878447,1.0,True,9.0,Los Angeles,Monterey Park,CA,United States,...,9,10,10,9,1.11,40852635,2015-08-02,39662220,Josh,Staying at Betty's house was a great experienc...
2,3230382,Large master bedroom & covered patio; __________,15878447,1.0,True,9.0,Los Angeles,Monterey Park,CA,United States,...,9,10,10,9,1.11,47118245,2015-09-15,8310003,Peter,Betty's house is nice and clean. Betty was ver...
3,3230382,Large master bedroom & covered patio; __________,15878447,1.0,True,9.0,Los Angeles,Monterey Park,CA,United States,...,9,10,10,9,1.11,57456810,2015-12-26,49959110,Ada,房子很干净 很宽敞 虽然因为空调 做饭发生点摩擦 但是betty很积极解决问题 总的来说这的...
4,3230382,Large master bedroom & covered patio; __________,15878447,1.0,True,9.0,Los Angeles,Monterey Park,CA,United States,...,9,10,10,9,1.11,66749957,2016-03-24,42723232,超,"Betty is really welcome and helpful, my friend..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653122,11225183,Hollywood Pool Home w/ Pool House!!,42821904,1.0,False,3.0,Los Angeles,North Hollywood,CA,United States,...,10,10,10,10,0.38,128304282,2017-01-23,95341454,Beth,This is a lovely house! It is in the perfect p...
653123,11225183,Hollywood Pool Home w/ Pool House!!,42821904,1.0,False,3.0,Los Angeles,North Hollywood,CA,United States,...,10,10,10,10,0.38,68434479,2016-04-04,59164120,Erica,The host canceled this reservation 45 days bef...
653124,11225183,Hollywood Pool Home w/ Pool House!!,42821904,1.0,False,3.0,Los Angeles,North Hollywood,CA,United States,...,10,10,10,10,0.38,80335165,2016-06-17,59542474,Yujin,"Overall, it was a great experience. Bobby and ..."
653125,11225183,Hollywood Pool Home w/ Pool House!!,42821904,1.0,False,3.0,Los Angeles,North Hollywood,CA,United States,...,10,10,10,10,0.38,113883468,2016-11-14,23567429,Janet,The home worked great for our family reunion. ...
653126,11225183,Hollywood Pool Home w/ Pool House!!,42821904,1.0,False,3.0,Los Angeles,North Hollywood,CA,United States,...,10,10,10,10,0.38,112783453,2016-11-07,10088984,Nenh,Bobby was easy to communicate with. The place ...

Put both dataframes together using append

In [14]:
airbnb = ny.append(la)

In [15]:
airbnb.shape

(1214658, 32)

Save as csv and now we can work with this dataset in Databricks

In [99]:
airbnb.to_csv('airbnb.csv', index = False)

We will address the issues of null values in Databricks

In [101]:
airbnb.isnull().sum(axis=0)

listing_id                          0
Name                              518
Host ID                             0
Host Name                        2981
Host Response Rate             190308
Host Is Superhost                   0
Host total listings count        2981
City                                0
Neighbourhood cleansed              0
State                               0
Country                             0
Property type                       0
Room type                           0
Accommodates                     8942
Bathrooms                       13149
Bedrooms                         8942
Amenities                       13512
Price                               0
Number of reviews                   0
Review Scores Rating                0
Review Scores Accuracy              0
Review Scores Cleanliness           0
Review Scores Checkin               0
Review Scores Communication         0
Review Scores Location              0
Review Scores Value                 0
Reviews per month                   0
id                                  0
date                                0
reviewer_id                         0
reviewer_name                       1
comments                         1802
dtype: int64

In [100]:
airbnb.head(30)

,listing_id,Name,Host ID,Host Name,Host Response Rate,Host Is Superhost,Host total listings count,City,Neighbourhood cleansed,State,...,Review Scores Checkin,Review Scores Communication,Review Scores Location,Review Scores Value,Reviews per month,id,date,reviewer_id,reviewer_name,comments
0,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,1107,2009-03-27,9193,Holly,Stephanie's offered all the most important thi...
1,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,7350,2009-08-13,26718,Greg,awesome couldn't have been better.
2,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,95059,2010-09-12,68468,Olivier And Ingrid,Nous avons passé un agréable séjour chez Stéph...
3,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,137500,2010-11-12,185050,Gerry,We stayed at the 111th Street apartment with S...
4,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,235192,2011-04-22,456184,Nicola,Very conveniently located just North of Centra...
5,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,244065,2011-04-29,351855,Leonella,We had a great stay with Stephanie and her fam...
6,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,564350,2011-09-25,363433,Tom,We stayed at the Chez Chic budget room for a w...
7,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,2230438,2012-09-08,3150890,Bruno,We had such an amazing experience staying over...
8,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,8765994,2013-11-17,9002252,Jacques,Séjour de rêve. Stéphanie toujours à l'écoute ...
9,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,15404006,2014-07-08,14072657,Lukas,"Stephanie, her husband and the kids were great..."
10,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,15899473,2014-07-17,15394739,Vinícius,The reservation was canceled the day before ar...
11,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,29622567,2015-04-10,29112884,Jessamyn,Stephanie had an emergency situation and could...
12,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,43811185,2015-08-22,4717007,Filip,The host canceled this reservation 14 days bef...
13,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,62596870,2016-02-15,55679553,Gwonil,96년에 몇달 지냈던 맨하튼이었습니다.\r\n그때는 할렘을 매우 무려워서 근처도 안...
14,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,74038786,2016-05-12,35455399,Roser,"El apartamento de Mizi está muy bien situado, ..."
15,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,106592697,2016-10-07,18258773,Olivia,The apartment is under some renovation work (p...
16,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,136888717,2017-03-12,110121147,Nadine,Ich habe den Aufenthalt bei Stephanie sehr gen...
17,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,141483120,2017-04-03,76604327,Mauricio,Nuestra estadia en la casa de Mizi fue increib...
18,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,16302,2009-11-05,44089,Robert,What a great location and welcome from Stephan...
19,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,40150,2010-05-05,24048,Jessica,My boyfriend and I stayed at the Chez Chic and...
20,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,158502,2010-12-26,202714,Katharina,We had a great time at Stephanies apartment - ...
21,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,281146,2011-05-25,579207,Lucia,I WILL BE BACK IN THIS ROOM
22,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,308977,2011-06-11,128681,Stefanie,Beautiful room with all the amenities (cable t...
23,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,392546,2011-07-24,617787,Clémentine & Thomas,Très bien accueillis par une amie de la famill...
24,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,519749,2011-09-11,379695,Eric,The room was nice and clean and conformed exac...
25,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,715986,2011-11-14,1183151,Paul,Delightful host and family. Very accommodatin...
26,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,760569,2011-12-03,1358563,Katherine,Stephanie made us feel right at home! The week...
27,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,1245437,2012-05-08,1390609,Quentin,"L'appartement est bien située, propre et dispo..."
28,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,3591580,2013-02-19,2801814,Wen,It's a comfortable and cozy room. Stephanie is...
29,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,5370427,2013-06-26,6545626,Kevin,My wife and I stayed at Stephanie for 3 nights...

In [16]:
airbnb2 = airbnb.dropna()

In [17]:
airbnb2.shape

(1016588, 32)

In [119]:
airbnb2

,listing_id,Name,Host ID,Host Name,Host Response Rate,Host Is Superhost,Host total listings count,City,Neighbourhood cleansed,State,...,Review Scores Checkin,Review Scores Communication,Review Scores Location,Review Scores Value,Reviews per month,id,date,reviewer_id,reviewer_name,comments
0,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,1107,2009-03-27,9193,Holly,Stephanie's offered all the most important thi...
1,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,7350,2009-08-13,26718,Greg,awesome couldn't have been better.
2,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,95059,2010-09-12,68468,Olivier And Ingrid,Nous avons passé un agréable séjour chez Stéph...
3,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,137500,2010-11-12,185050,Gerry,We stayed at the 111th Street apartment with S...
4,2515,Sunny Private Room,16286162,Pat,1.0,False,4.0,Bronx,Allerton,NY,...,10,10,9,10,1.77,235192,2011-04-22,456184,Nicola,Very conveniently located just North of Centra...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653122,11225183,Hollywood Pool Home w/ Pool House!!,42821904,Bobby,1.0,False,3.0,Los Angeles,North Hollywood,CA,...,10,10,10,10,0.38,128304282,2017-01-23,95341454,Beth,This is a lovely house! It is in the perfect p...
653123,11225183,Hollywood Pool Home w/ Pool House!!,42821904,Bobby,1.0,False,3.0,Los Angeles,North Hollywood,CA,...,10,10,10,10,0.38,68434479,2016-04-04,59164120,Erica,The host canceled this reservation 45 days bef...
653124,11225183,Hollywood Pool Home w/ Pool House!!,42821904,Bobby,1.0,False,3.0,Los Angeles,North Hollywood,CA,...,10,10,10,10,0.38,80335165,2016-06-17,59542474,Yujin,"Overall, it was a great experience. Bobby and ..."
653125,11225183,Hollywood Pool Home w/ Pool House!!,42821904,Bobby,1.0,False,3.0,Los Angeles,North Hollywood,CA,...,10,10,10,10,0.38,113883468,2016-11-14,23567429,Janet,The home worked great for our family reunion. ...
653126,11225183,Hollywood Pool Home w/ Pool House!!,42821904,Bobby,1.0,False,3.0,Los Angeles,North Hollywood,CA,...,10,10,10,10,0.38,112783453,2016-11-07,10088984,Nenh,Bobby was easy to communicate with. The place ...

In [109]:
!pip install langdetect

Collecting langdetect
  Downloading langdetect-1.0.8.tar.gz (981 kB)
     |████████████████████████████████| 981 kB 6.4 MB/s eta 0:00:01
Requirement already satisfied: six in /Users/adelhassen/opt/anaconda3/lib/python3.7/site-packages (from langdetect) (1.15.0)
Building wheels for collected packages: langdetect
  Building wheel for langdetect (setup.py) ... done
  Created wheel for langdetect: filename=langdetect-1.0.8-py3-none-any.whl size=993190 sha256=d8d80921888b601f2f35b207514a3b203b8b8986a0450e3559e9c41bf83b8466
  Stored in directory: /Users/adelhassen/Library/Caches/pip/wheels/59/f6/9d/85068904dba861c0b9af74e286265a08da438748ee5ae56067
Successfully built langdetect
Installing collected packages: langdetect
Successfully installed langdetect-1.0.8
WARNING: You are using pip version 21.0.1; however, version 21.1 is available.
You should consider upgrading via the '/Users/adelhassen/opt/anaconda3/bin/python -m pip install --upgrade pip' command.

In [18]:
from langdetect import detect

In [19]:
def detect_en(text):
    try:
        return detect(text) == 'en'
    except:
        return False

In [ ]:
#Takes around 1.5-2 hours to run
airbnb2 = airbnb2[airbnb2['comments'].apply(detect_en)]
airbnb2

In [128]:
airbnb2.dtypes

listing_id                       int64
Name                            object
Host ID                          int64
Host Name                       object
Host Response Rate             float64
Host Is Superhost                 bool
Host total listings count      float64
City                            object
Neighbourhood cleansed          object
State                           object
Country                         object
Property type                   object
Room type                       object
Accommodates                   float64
Bathrooms                      float64
Bedrooms                       float64
Amenities                       object
Price                            int64
Number of reviews                int64
Review Scores Rating             int64
Review Scores Accuracy           int64
Review Scores Cleanliness        int64
Review Scores Checkin            int64
Review Scores Communication      int64
Review Scores Location           int64
Review Scores Value              int64
Reviews per month              float64
id                               int64
date                            object
reviewer_id                      int64
reviewer_name                   object
comments                        object
dtype: object

In [125]:
#This dataset is uploaded to DataBricks
airbnb2.to_csv('airbnb_clean.csv', index = False)